html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}


nav {
    padding-top: 20px;
}

.first-letter {
    color: aliceblue;
}

.nav-color-ext {
    color: aliceblue;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

h3 {
    font-size: 50px;
}

#home {
    background-image: url("hello.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#experience {
    height: fit-content;
}

.icon {
    font-family: 'Major Mono Display', monospace;
}

.logo {
    padding-right: 250px;
}

.contact {
    padding-left: 200px;
}

#contact {
  background-color: #ECFAFC;
}

.hello-heading {
    font-size: 150px;
    text-align: center;
    padding-top: 100px;
    color: aliceblue;
    font-family: 'Sail', cursive;
}


h1 {
    font-size: 60px;
    padding-top: 50px;
    text-align: center;
    color: black;
}

#about {
    height: fit-content;
}

#about_heading {
    background-image: url(about.png);
    color: aliceblue;
    background-position: center;
    width: 300px;
    margin-left: 100px;
}

.imgs {
  padding-left: auto;
  margin-right: auto;
}

.about_text {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
}

#projects {
    background-image: url(projectBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

#projects_heading {
    background-image: url(projectHeading.png);
    background-position: center;
    color: aliceblue;
    width: 300px;
    margin-left: 100px;
}



#experience_heading {
    background: rgb(36,83,255);
    background: linear-gradient(90deg, rgba(36,83,255,1) 0%, rgba(40,104,252,1) 35%, rgba(52,159,246,1) 70%, rgba(67,232,224,1) 100%);
    width: 300px;
    background-position: center;
    margin-left: 100px;
    color: aliceblue;
}

.container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.small-text-spotify {
    color: chartreuse;
    font-size: large;
}

.small-text-sightings {
    color: black;
    font-size: large;
}

.small-text-appointd {
    color: #45e0bb;
    font-size: large;
}

.footer {
  background-color: #0f0f0f;
}


/*--------------- footer section --------------- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: #fff;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
}


#ig::before {
  display: inline-block;
  background: #0f0f0f;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
}


#tw::before {
  display: inline-block;
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
}


#media, #address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media(max-width: 768px) {
  .collab, #personal, #media, #address {
        text-align: center;
  }

  .info ul {
        margin: 0 0 0 -22px;
        padding: 0;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #45e0bb;

  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-exp {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-exp::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }

    .contact {
        visibility: hidden;
    }
  
  /* Full-width containers */
    .container-exp {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container-exp::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  
